@model GCGov.Models.PgtosModalidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PgtosModalidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PgtoModNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PgtoModNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PgtoModId">Edit</a> |
    <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
        <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
    </a>
</div>
