@model GCGov.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
}

<div class="row justify-content-center">
    <h4>Editar Contrato</h4>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ContratoId" />
                <div class="form-group row">
                    <div class="col-md-12">
                        <label asp-for="Extrato" class="control-label"></label>
                        <input asp-for="Extrato" class="form-control" />
                        <span asp-validation-for="Extrato" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Contratante" class="control-label"></label>
                        <input asp-for="Contratante" class="form-control" />
                        <span asp-validation-for="Contratante" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Contratada" class="control-label"></label>
                        <input asp-for="Contratada" class="form-control" />
                        <span asp-validation-for="Contratada" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Objeto" class="control-label"></label>
                        <input asp-for="Objeto" class="form-control" />
                        <span asp-validation-for="Objeto" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ProcessoSei" class="control-label"></label>
                        <input asp-for="ProcessoSei" class="form-control" />
                        <span asp-validation-for="ProcessoSei" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ProtocoloDiof" class="control-label"></label>
                        <input asp-for="ProtocoloDiof" class="form-control" />
                        <span asp-validation-for="ProtocoloDiof" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="LinkPublico" class="control-label"></label>
                        <input asp-for="LinkPublico" class="form-control" />
                        <span asp-validation-for="LinkPublico" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DataAssinatura" class="control-label"></label>
                        <input asp-for="DataAssinatura" class="form-control" type="date" />
                        <span asp-validation-for="DataAssinatura" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DataInicio" class="control-label"></label>
                        <input asp-for="DataInicio" class="form-control" type="date" />
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Vigencia" class="control-label"></label>
                        <input asp-for="Vigencia" class="form-control" />
                        <span asp-validation-for="Vigencia" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ModId" class="control-label"></label>
                        <select asp-for="ModId" class="form-control" asp-items="ViewBag.ModId">
                            <option value="">Selecione</option>
                        </select>
                        <span asp-validation-for="ModId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Valor" class="control-label"></label>
                        <input asp-for="Valor" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="UgCodigoId" class="control-label"></label>
                        <select asp-for="UgCodigoId" class="form-control" asp-items="ViewBag.UgCodigoId" disabled>
                        </select>
                        <span asp-validation-for="UgCodigoId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="UgDpId" class="control-label"></label>
                        <select asp-for="UgDpId" class="form-control" asp-items="ViewBag.UgDpId" disabled>
                        </select>
                        <span asp-validation-for="UgDpId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mt-3">
                        <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
                            <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
                        </a>
                        <button type="submit" class="btn btn-labeled btn-success" title="Salvar">
                            <span class="btn-label"><i class="fa-solid fa-check"></i></span>Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}