@model GCGov.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContratoId" />
            <div class="form-group">
                <label asp-for="Extrato" class="control-label"></label>
                <input asp-for="Extrato" class="form-control" />
                <span asp-validation-for="Extrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contratante" class="control-label"></label>
                <input asp-for="Contratante" class="form-control" />
                <span asp-validation-for="Contratante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contratada" class="control-label"></label>
                <input asp-for="Contratada" class="form-control" />
                <span asp-validation-for="Contratada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objeto" class="control-label"></label>
                <input asp-for="Objeto" class="form-control" />
                <span asp-validation-for="Objeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vigencia" class="control-label"></label>
                <input asp-for="Vigencia" class="form-control" />
                <span asp-validation-for="Vigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessoSei" class="control-label"></label>
                <input asp-for="ProcessoSei" class="form-control" />
                <span asp-validation-for="ProcessoSei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkPublico" class="control-label"></label>
                <input asp-for="LinkPublico" class="form-control" />
                <span asp-validation-for="LinkPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAssinatura" class="control-label"></label>
                <input asp-for="DataAssinatura" class="form-control" />
                <span asp-validation-for="DataAssinatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtocoloDiof" class="control-label"></label>
                <input asp-for="ProtocoloDiof" class="form-control" />
                <span asp-validation-for="ProtocoloDiof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModLicitacaoId" class="control-label"></label>
                <select asp-for="ModLicitacaoId" class="form-control" asp-items="ViewBag.ModLicitacaoId"></select>
                <span asp-validation-for="ModLicitacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UgCodigoId" class="control-label"></label>
                <select asp-for="UgCodigoId" class="form-control" asp-items="ViewBag.UgCodigoId"></select>
                <span asp-validation-for="UgCodigoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UgDpId" class="control-label"></label>
                <select asp-for="UgDpId" class="form-control" asp-items="ViewBag.UgDpId"></select>
                <span asp-validation-for="UgDpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
