@model GCGov.Models.PgtosTipo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PgtosTipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PgtoTipoId" />
            <div class="form-group">
                <label asp-for="NotaEmpenho" class="control-label"></label>
                <input asp-for="NotaEmpenho" class="form-control" />
                <span asp-validation-for="NotaEmpenho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PgtoModId" class="control-label"></label>
                <select asp-for="PgtoModId" class="form-control" asp-items="ViewBag.PgtoModId"></select>
                <span asp-validation-for="PgtoModId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContratoId" class="control-label"></label>
                <select asp-for="ContratoId" class="form-control" asp-items="ViewBag.ContratoId"></select>
                <span asp-validation-for="ContratoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaturezaDespesa" class="control-label"></label>
                <select asp-for="NaturezaDespesa" class="form-control" asp-items="ViewBag.NaturezaDespesa"></select>
                <span asp-validation-for="NaturezaDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
        <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
