@model GCGov.Models.DotacaoOrcamentaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DotacaoOrcamentaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonteRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonteRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramaTrabalho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramaTrabalho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.NaturezaDespesa title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
    <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
        <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
    </a>
</div>
