﻿﻿﻿@{
    ViewData["Title"] = "Gestor de Contratos";
}

<div class="row">
    <div class="col-sm-6 mb-4">
        <div class="card">
            <div class="card-header">Contratos por Secretaria</div>
            <div class="card-body">
                <canvas id="chatContratos" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="card">
            <div class="card-header">Contratos por Fornecedor</div>
            <div class="card-body">
                <canvas id="chatContratos" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-4">
        <div class="card">
            <div class="card-header">Contratos por Gestor</div>
            <div class="card-body">
                <canvas id="chatOutroCard" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="card">
            <div class="card-header">Contratos por Fiscal</div>
            <div class="card-body">
                <canvas id="chatMaisUmCard" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
</div>

