﻿﻿﻿@{
    ViewData["Title"] = "Gestor de Contratos";
}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-raised bg-success text-white shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x"></i>
                    </div><div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Valor Total Contratado
                        </div>
                        <div class="h5 mb-0 font-weight-bold">R$17.405.400,00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-raised bg-info text-white shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x"></i>
                    </div><div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Valor Total Contratado
                        </div>
                        <div class="h5 mb-0 font-weight-bold">R$17.405.400,00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-raised bg-warning text-white shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x"></i>
                    </div><div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Valor Total Contratado
                        </div>
                        <div class="h5 mb-0 font-weight-bold">R$17.405.400,00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-raised bg-danger text-white shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x"></i>
                    </div><div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Valor Total Contratado
                        </div>
                        <div class="h5 mb-0 font-weight-bold">R$17.405.400,00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-8">
        <div class="card shadow mb-4 d-flex align-items-stretch">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Contratos por Mês</h6>
            </div>
            <div class="card-body align-items-stretch">
                <div>
                    <canvas id="bar"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    const bar = document.getElementById('bar');

                    new Chart(bar, {
                        type: 'bar',
                        data: {
                            labels: ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET','OUT', 'NOV', 'DEZ'],
                            datasets: [{
                                label: '#Contratos',
                                data: [12, 19, 3, 5, 2, 3, 7, 0, 0, 0, 0, 0],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 205, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(201, 203, 207, 0.2)',
                                    'rgba(201, 203, 207, 0.2)',
                                    'rgba(201, 203, 207, 0.2)',
                                    'rgba(201, 203, 207, 0.2)',
                                    'rgba(201, 203, 207, 0.2)',
                                    'rgba(201, 203, 207, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)',
                                    'rgb(201, 203, 207)',
                                    'rgb(201, 203, 207)',
                                    'rgb(201, 203, 207)',
                                    'rgb(201, 203, 207)',
                                    'rgb(201, 203, 207)',
                                    'rgb(201, 203, 207)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card shadow mb-4 d-flex">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Contratos Por Segmento</h6>
            </div>
            <div class="card-body align-items-stretch">
                <div>
                    <canvas id="doughnut"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    const polarArea = document.getElementById('doughnut');

                    new Chart(doughnut, {
                        type: 'doughnut',
                        data: {
                            labels: ['Obras', 'Servicos', 'Manutenção', 'Outros'],
                            datasets: [{
                                label: 'Segmentos',
                                data: [300, 50, 100, 30],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(17, 68, 85)',
                                    'rgb(255, 205, 86)'
                                ],
                                hoverOffset: 4
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>

