﻿﻿@{
    ViewData["Title"] = "Política De Privacidade E Proteção De Dados Pessoais";
}
<h1>@ViewData["Title"]</h1>

<p>
    A Instrução Normativa nº 1/2022/CGE-CGPD tem como objetivo Institui a Política de Privacidade e Proteção de
    Dados Pessoais no âmbito do Poder Executivo do Estado de Rondônia.
</p>